 
iirt_user:
    path:     user/index
    defaults: { _controller: IirtUserBundle:User:index }
 
iirt_user_add:
    path:     user/ajouter
    defaults: { _controller: IirtUserBundle:User:ajouter }
    
iirt_user_read:
    path:     user/afficher/{id}
    defaults: { _controller: IirtUserBundle:User:afficher }
    requirements:
        id:  \d+

iirt_user_modify:
    path:     user/modifier/{id}
    defaults: { _controller: IirtUserBundle:User:modifier }
    requirements:
        id:  \d+
    
iirt_user_delete:
    path:     user/supprimer/{id}
    defaults: { _controller: IirtUserBundle:User:supprimer }
    requirements:
        id:  \d+

iirt_user_login:
    path:     /login
    defaults: { _controller: IirtUserBundle:User:login }

iirt_user_logout:
    path:     /logout
    defaults: { _controller: IirtUserBundle:User:logout }    
