{# src/Iirt/AnnouncementBundle/Resources/views/User/ajouter.html.twig #}
{% extends "IirtUserBundle::layout.html.twig" %}

{% block contenu %}
<h3>Formulaire Utilisateur</h3>
<div class="well">
    {{ annonce.title }}
         
</div>
{% endblock %}
