{# src/Iirt/AnnouncementBundle/Resources/views/Announcement/ajouter.html.twig #}

{% extends "IirtAnnouncementBundle::layout.html.twig" %}

{% block bannierre %}
    
{% endblock %} 
      
{% block contenu %}
<h3>Formulaire Annonce</h3>
<div class="well">
    <form method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
         <input type="submit" class="btn btn-primary" />
    </form>
</div>

{% endblock %}