{% extends "IirtAnnouncementBundle::layout.html.twig" %}

{% block contenu %}
     <div class="col-lg-12">
       <h2>Recent <span>Articles</span></h2>
        <ul class="list">
            {% for article in liste_articles %}
          <div class="col-lg-3"><span><img src="images/icon1.png"></span>
            <h4><a href="{{ path('iirt_announcement_read', {'id': article.id}) }}">{{article.title }}</a></h4>
            <p>{{article.content }}</p>
          </div>
           {% endfor %}
        </ul>
          <h2>Move Forward <span>With Your Education</span></h2>
        <p><span class="txt1">Eusus consequam</span> vitae habitur amet nullam vitae condis phasellus sed justo. Orcivel mollis intesque eu sempor ridictum a non laorem lacingilla wisi. </p>
        <div class="img-box"><img src="images/1page-img.jpg">Eusus consequam vitae habitur amet nullam vitae condis phasellus sed justo. Orcivel mollis intesque eu sempor ridictum a non laorem lacingilla wisi. Nuncrhoncus eros <a href="#">maurien ulla</a> facilis tor mauris tincidunt et vitae morbi. Velelit condimentes in laorem quis nullamcorper nam fauctor feugiat pellent sociis.</div>
        <p class="p0">Eusus consequam vitae habitur amet nullam vitae condis phasellus sed justo. Orcivel mollis intesque eu sempor ridictum a <a href="#">non laorem</a> lacingilla wisi.</p>
      </div>
{% endblock %}