{% extends "IirtAnnouncementBundle::layout.html.twig" %}

{% block contenu %}
     <div class="col-lg-12">
       <h2>Recent <span>Articles</span></h2>
        <ul class="list">
            {% for article in liste_articles %}
          <div class="col-lg-3"><span><img src="images/icon1.png"></span>
            <h4><a href="{{ path('iirt_announcement_read', {'id': article.id}) }}">{{article.titre }}</a></h4>
            <p>{{article.contenu }}</p>
          </div>
           {% endfor %}
        </ul>
        </div>
{% endblock %}