{# src/Iirt/AnnouncementBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}
{% block title %}
 annonces ...
{% endblock %}

{% block bannierre %}
          <div class="row" >
		<div class="col-lg-12" id="banner" >
        <h2>IUT in Real Time <span>information en ligne <span>depuis 2015</span></span></h2>
      </div></div>
{% endblock %} 
       
{% block section %}
    {%if app.session.get('path') %}
        {{ render(controller('IirtUserBundle:User:menuConnect',{menu: 4})) }}
    {% endif %}   
      <div class="row">
        {% block contenu %}
            
        {% endblock %}
        </div>

{% endblock %}