{# src/Iirt/AnnouncementBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}
{% block title %}
 annonces ...
{% endblock %}

{% block bannierre %}
          <div class="row" >
		<div class="col-lg-12" id="banner" >
        <h2>IUT in Real Time <span>information en ligne <span>depuis 2015</span></span></h2>
      </div></div>
{% endblock %} 
       
{% block section %}
    
      <nav>
       {# ici le menu pour gerer les annonces mais ne sera visible que par les utilisateurs ayant le droit de
        les modifiers #}
        <ul>
          <li class="current"><a href="" class="m1">liste des annonces</a></li>
          <li><a href="" class="m2">rediger un annonce</a></li>
        </ul> 
      </nav>
      <div class="row">
        {% block contenu %}
            
        {% endblock %}
        </div>

{% endblock %}