{% extends "::layout.html.twig" %}
{% block title %}
 message ...
{% endblock %}

{% block section %}
    
        {% if app.session.get('department') or app.session.get('matricule') %}
        {{ render(controller('IirtUserBundle:User:menuConnect',{menu: 3})) }}
        {% endif %}
      <div class="row">
        {% block contenu %}
            
        {% endblock %}
        </div>

{% endblock %}