{% extends "::layout.html.twig" %}
{% block title %}
 message ...
{% endblock %}

{% block section %}
    
      <nav>
        <ul>
          <li class="current">
              <a href="{{ path('iirt_message_homepage') }}" class="m2" >liste des messages</a>
          </li>
          <li>
              <a href="{{ path('iirt_message_afficherEns') }}" class="m2" > nouveau message </a>
          </li>
        </ul>
      </nav>
      <div class="row">
        {% block contenu %}
            
        {% endblock %}
        </div>

{% endblock %}