body {
	font-family:Arial, Helvetica, sans-serif;
	color:#454545;
	background:url(../images/tail-middle.jpg) repeat-y center 194px;
}
.container {
	width:940px;
	padding-bottom:176px;
	
}
header {
	background:url(../images/header-bg.jpg) no-repeat center top;
	min-width:940px;
}
header .cont {
	height:194px;
	position:relative;
	padding:0;
}
.wrap {
	height:auto !important;
	height:100%;
	min-height:100%;
	min-width:940px;
}
[class*="col-"], footer {
/*background-color: lightgreen;
border: 1px solid black;
border-radius: 6px;*/
}

h1 {
	text-indent:-9999px;/**/
	background:url(../images/logo.jpg) no-repeat left top;
	height:63px;
}
h1 a {
	width:473px;
	/*position:absolute;
	top: 500px;
	left:0;*/
	z-index: 10;
}
h2 {
	font-size:24px;
	line-height:1.2em;
	text-transform:uppercase;
	margin-bottom:20px;
}
h2 span {
	color:#8d8d8d;
}
h3 {
	font-size:20px;
	line-height:1.2em;
	text-transform:uppercase;
	margin-bottom:15px;
}
h4 {
	font-size:1em;
	color:#008cc4;
	margin-bottom:5px;
}
h4 a {
	color:#008cc4;
	text-decoration:none;
}
h4 a:hover {
	color:#ff7b01;
}
#banner {
	height:299px;
	background:url(../images/banner-bg.jpg) no-repeat left top;
}
#banner h2 {
	color:#fff;
	font-size:42px;
	text-transform:none;
	line-height:1.2em;
	padding:75px 0 0 55px;
	margin:0;
}
#banner h2 span {
	display:block;
	margin-top:-12px;
	color:#fff;
}
#banner h2 span span {
	font-size:30px;
	margin-top:-8px;
}
a {
	color:#ff7b01;
	outline:none;
}
a:hover {
	text-decoration:none;
}

aside .new {
	float:right;
}
.news {
	margin-top:-25px;
	width:200px;
	padding:5px 0 0 0;
}
.news li {
	padding-top:25px;
	line-height:1.429em;
}
.news li strong {
	font-size:.857em;
	color:#454545;
	display:block;
	padding-bottom:3px;
}
.news li a {
	color:#008cc4;
	text-decoration:none;
	font-weight:bold;
}

.categories {
	padding-bottom:37px;
}
.categories li {
	font-weight:bold;
	font-size:.857em;
	padding-bottom:8px;
	margin-bottom:6px;
	background:url(../images/divider1.gif) repeat-x left bottom;
}
.categories li.last {
	background:none;
	padding:0;
	margin:0;
}
.categories li span {
	display:block;
	padding-left:15px;
	height:1%;
	background:url(../images/marker.gif) no-repeat left 5px;
}
.categories li a {
	text-decoration:none;
	color:#008cc4;
}
.categories li a:hover {
	color:#ff7b01;
}
 header nav {
	position:relative;
	left:0;
	top:-3px;
}  /**/
header nav ul li {
	float:left;
	font-size:16px;
	line-height:1.2em;
	text-transform:uppercase;
	padding-right:1px;
	background:url(../images/divider.gif) repeat-y right top;
}
header nav ul li.last {
	background:none;
	padding:0;
}
header nav ul li a {
	color:#454545;
	text-decoration:none;
	display:block;
	float:left;
	text-align:center;
	padding:18px 0 20px 0;
	background-repeat:no-repeat;
	background-position:left top;
}
header nav ul li.current a, header nav ul li a:hover {
	color:#008cc4;
}/* */
header nav ul li a.m1 {
	width:186px;
} 
header nav ul li.current a.m1 {
	background-image:url(../images/m1-act.jpg);
}/* */
header nav ul li a.m2 {
	width:179px;
} 
header nav ul li.current a.m2 {
	background-image:url(../images/m2-act.jpg);
}/* */
header nav ul li a.m3 {
	width:208px;
} 
header nav ul li.current a.m3 {
	background-image:url(../images/m3-act.jpg);
}/*  */
header nav ul li a.m4 {
	width:196px;
}
header nav ul li.current a.m4 {
	background-image:url(../images/m4-act.jpg);
}
header nav ul li.last {
	background:none;
	padding:0;
}/* */
header nav ul li a.m5 {
	width:167px;
} 
header nav ul li.current a.m5 {
	background-image:url(../images/m5-act.jpg);
}

.trigger {
	float:right;
        text-transform:uppercase;
	color:white;
	text-decoration:none;
	background-color:#0087c1;
	margin:30px 20px 0 0;
        padding:1px 11px 11px 11px;
	height:22px;
        
}

.inscript {
	float:right;
        text-transform:uppercase;
	color:white;
	text-decoration:none;
	background-color:#0087c1;
	margin:30px 20px 0 0;
        padding:1px 11px 11px 11px;
	height:22px;
        
}

#search-form .rowElem {
	/*height:28px;
	position:absolute;
	right:0;
	top:113px;
	line-height:1.0em;
	float:left;*/
}
.trigger input {
	width:205px;
	background:#fff;
	margin:4px 5px 4px 5px;
	padding:4px 5px 4px 5px;
	border:1px solid #d0d0d0;
	color:#454545;
	height:18px;/**/
}

.inscript input {
	width:205px;
	background:#fff;
	margin:4px 5px 4px 5px;
	padding:4px 5px 4px 5px;
	border:1px solid #d0d0d0;
	color:#454545;
	height:18px;/**/
}

#search-form a {
	/*text-transform:uppercase;
	color:#fff;
	text-decoration:none;
	float:left;
	background-color:#0087c1;
	padding:6px 11px 0 11px;
	height:22px;*/
}
.trigger a:hover {
	background-color:#47b6e5;
}

.inscript a:hover {
	background-color:#47b6e5;
}

#connexion{
    position: absolute;
    left: 150px;
    top: 70px;
    z-index: 100;
    border-radius: 10px 10px 10px 10px;
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.8);
	padding-top: 15px;
	padding-bottom: 15px;
}

#inscription{
    position: absolute;
    left: 150px;
    top: 70px;
    z-index: 100;
    border-radius: 10px 10px 10px 10px;
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.8);
	padding-top: 15px;
	padding-bottom: 15px;
}

.list {
	width:100%;
	overflow:hidden;
	padding-bottom:40px;
}
.list li {
	float:left;
	width:175px;
	margin-right:53px;
}
.list li.last {
	margin:0;
}
.list li span {
	display:block;
	text-align:center;
}
.list li h4 {
	padding-top:20px;
}
.list li p {
	margin:0;
}
.img-box {
	width:100%;
	overflow:hidden;
	padding-bottom:20px;
	line-height:1.429em;
}
.img-box img {
	float:left;
	margin:0 20px 0 0;
}
.extra-wrap {
	overflow:hidden;
}
p {
	margin-bottom:16px;
	line-height:1.429em;
}
.p0 {
	margin:0;
}
.address {
	width:100%;
	overflow:hidden;
	padding-bottom:40px;
}
.address address {
	font-style:normal;
	line-height:1.429em;
	float:left;
	width:248px;
}
.address address strong {
	color:#008cc4;
	width:94px !important;
	width:91px;
	float:left;
}
.address .extra-wrap {
	float:left;
	width:385px;
}
.address p {
	margin:0;
}
.txt1 {
	color:#008cc4;
	font-weight:bold;
}
.link {
	position:absolute;
	right:0;
	top:159px;
}
footer {
	background:url(../images/footer-bg.png) no-repeat center top;
	margin-bottom:-120px;
	min-width:940px;
}
footer .footerlink {
	margin:0 auto;
	width:940px;
	height:60px;
	padding-top:60px;
	color:#454545;
	font-size:.785em;
	line-height:1.429em;
}
.footerlink p {
	margin:0;
	padding:0;
	line-height:normal;
	white-space:nowrap;
	text-indent:inherit;
	color:#454545;
}
.footerlink a {
	color:#454545;
	font-weight:normal;
	margin:0;
	padding:0;
	border:none;
	text-decoration:underline;
	background-color:transparent;
}
.footerlink a:hover {
	color:#454545;
	background-color:transparent;
	text-decoration:none;
}
.footerlink .lf {
	float:left;
}
.footerlink .rf {
	float:right;
}
a {
	outline:none;
}