iirt_announcement:
    path:     /annonces/index
    defaults: { _controller: IirtAnnouncementBundle:Announcement:index }

iirt_announcement_add:
    path:     /annonces/ajouter
    defaults: { _controller: IirtAnnouncementBundle:Announcement:ajouter }
    
iirt_announcement_read:
    path:     /annonces/afficher/{id}
    defaults: { _controller: IirtAnnouncementBundle:Announcement:afficher }
    requirements:
        id:  \d+ 
    
iirt_announcement_modify:
    path:     /annonces/modifier/{id}
    defaults: { _controller: IirtAnnouncementBundle:Announcement:modifier }
    requirements:
        id:  \d+
    
iirt_announcement_delete:
    path:     /annonces/supprimer/{id}
    defaults: { _controller: IirtAnnouncementBundle:Announcement:supprimer } 
    requirements:
        id:  \d+
