{% extends "IirtMessageBundle::layout.html.twig" %}

{% block contenu %}
     
<table class="table table-striped table-condensed">
<thead>
<tr>
<th>nom </th>
<th>action</th>
</tr>
</thead>
<tbody>
    {% for membre in user %}
     <tr>  
    <td> {{ membre.firstname }} </td>
    <td>
        <a class="btn btn-default" href="{{ path('iirt_message_ajout',{'destinataire': membre.id}) }}" class="m2" > new message</a>
        <a class="btn btn-default" href="" > liste message </a>
        <a class="btn btn-default" href="" > supprimer messages </a>
    </td>
     </tr>
    {% endfor %}
    </tbody>
        
    </table> 
 {% endblock %}