{# src/Iirt/UserBundle/Resources/views/User/ajouter.html.twig #}

{% extends "IirtUserBundle::layout.html.twig" %}

{% block contenu %}

<table class="table table-bordered table-striped table-condensed">
    
        <caption>
<h4>Les menaces pour les tigres</h4>
</caption>
<thead>
<tr>
<th>nom </th>
<th>action</th>
</tr>
</thead>
<tbody>
        {% for user in users %}
            <tr>
        <td>{{ user.firstname }}</td>    
        <td>
            {% if role == 5 %}
            <a class="btn btn-default" href="{{ path('iirt_user_role',{'id':  user.matricule}) }}" > ajouter un rôle </a>
            <a class="btn btn-default" href="" > supprimer un rôle </a>
            {% elseif role == 2 %}   
                <a class="btn btn-default" href="{{ path('iirt_user_editeur',{'id':  user.matricule}) }}" > ajouter comme editeur </a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
         
    </tbody>
        
    </table>        
{% endblock %}