{# src/Iirt/UserBundle/Resources/views/User/ajouter.html.twig #}

{% extends "IirtUserBundle::layout.html.twig" %}

{% block contenu %}
<h3>Formulaire Utilisateur</h3>
<div class="well">
    <form method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
         <input type="submit" class="btn btn-primary" />
    </form>
</div>

{% endblock %}